@media screen and (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }

  header {
    .nav {
      ul {
        flex-wrap: wrap;
        li {
          text-align: center;
          width: 25%;
        }
      }
    }
  }
}
