@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  main {
    .articles {
      flex-wrap: wrap;
      article {
        margin: 1em 0;
        width: 48%;
      }
    }
  }
}
