body {
  background: black;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: ". header ." ". main ." ". footer .";
  row-gap: 1em;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

header .Title {
  text-align: center;
  color: white;
  background-color: #406718;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #690;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #3c0;
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 14px 16px;
  background-color: #690;
  font-size: 0.9em;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  row-gap: 1em;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

main .MainTop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

main .MainTop article {
  border: solid #3c0;
  font: verdana;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

main .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .articles article {
  border: solid #3c0;
}

main .articles article .productHeader {
  background-color: #406718;
  color: #ccc;
  font: 1.5em verdana;
  text-align: center;
}

main .articles article .productHeader p {
  margin: 0;
  padding: 0.3em;
}

main .articles article img {
  width: 100%;
  display: block;
}

main .articles article .price {
  background-color: #406718;
  color: #ccc;
  font: 1em verdana;
  text-align: center;
}

main .articles article .price p {
  margin: 0;
  padding: 0.5em;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: footer;
  background-color: #690;
  text-align: center;
  color: black;
  border-top: solid #3c0;
  border-bottom: solid #3c0;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: ". header ." ". main ." ". footer .";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
  }
  header nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav ul li {
    width: 25%;
    text-align: center;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: main;
  }
  main .MainTop {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  main .MainTop img {
    width: 100%;
    height: 100%;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: footer;
  }
}
/*# sourceMappingURL=styleGrid.css.map */